<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="log.path" source="logging.path" defaultValue="./logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[[%d{yyyy-MM-dd HH:mm:ss}] %-5level [%X{traceid}] %logger{0} - %m%n]]></pattern>
        </layout>
    </appender>

    <!-- 生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志格式 -->
        <encoder>
            <!--<pattern>${FILE_LOG_PATTERN}</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{traceid}] %logger{20}- %msg%n</pattern>
        </encoder>
        <!--日志文件输出的文件名 -->
        <file>${log.path}/spring-cloud-gateway-app.log</file>

        <!-- 固定数量的日志文件，防止将磁盘占满 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/spring-cloud-gateway-app.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <!--日志文件最大的大小 -->
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>512MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="ASYNC_APP" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>20</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="FILE"/>
    </appender>

    <!-- error日志 -->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤日志 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{traceid}] %logger{20}- %msg%n</pattern>
        </encoder>

        <!--日志文件输出的文件名 -->
        <file>${log.path}/spring-cloud-gateway-error.log</file>

        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 设置error日志路径 -->
            <fileNamePattern>${log.path}/spring-cloud-gateway-error_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>

    </appender>

    <springProfile name="default">
        <root>
            <level value="info"/>
            <appender-ref ref="ASYNC_APP"/>
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="fileErrorLog"/>
        </root>
    </springProfile>

    <springProfile name="dev,test">
        <root>
            <level value="debug"/>
            <appender-ref ref="ASYNC_APP"/>
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="fileErrorLog"/>
        </root>
    </springProfile>

    <springProfile name="stg,prod,local,aliyuntest">
        <root>
            <level value="INFO"/>
            <appender-ref ref="ASYNC_APP"/>
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="fileErrorLog"/>
        </root>
    </springProfile>

</configuration>